@import '../../assets/variables/variables.scss';

.LandingPage {
  padding-bottom: 2vh;
  h1 {
    margin-top: 10vh;
    font-size: 4em;
  }
  p.italic {
    margin-top: 2.4em;
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
  }
  h3 {
    margin-top: 2.6em;
  }
  p {
    font-family: $main-font;
    font-size: .93em;
    // letter-spacing: 1px;
    line-height: 1.6em;
    margin-top: 2.6em;
    padding: 0 2vw;
    &:last-child {
      margin: 2em;
    }
  }
  .contact-btn {
    padding: .6em 1.3em;
    border: 1px solid black;
    font-family: $main-font;
    font-size: .93em;
    &:hover {
      background: black;
      color: white;
      cursor: pointer;
    }
  }
}